<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>36900493972-rjtn8i6ih4fnbjfg22h4ac3b2quf24ci.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.36900493972-rjtn8i6ih4fnbjfg22h4ac3b2quf24ci</string>
	<key>API_KEY</key>
	<string>AIzaSyBzSU5EB_VtdmspoKomvP1ZEYMCnI9VEkk</string>
	<key>GCM_SENDER_ID</key>
	<string>36900493972</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.food</string>
	<key>PROJECT_ID</key>
	<string>foodapp-6e0fc</string>
	<key>STORAGE_BUCKET</key>
	<string>foodapp-6e0fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:36900493972:ios:5d58b8cc9c06a3c850f281</string>
</dict>
</plist>